# Final Project Information

Student Name: Reuben Hough
Full Time Student
Review Date: Feb 22, 2020
Instructor: Ahbineet Kulkarni
Blog URL: reubenhough.wordpress.com/2020/02/21/data-science-blog-1/

# Data

### Importing Libraries

In [ ]:
# These libraries are used to work with and visualize data
import sqlite3
import pandas as pd
import pickle
import numpy as np
import matplotlib.pyplot
import matplotlib.pyplot as plt
from glob import glob
import os
import seaborn as sns
%matplotlib inline

## Gathering Data

In [ ]:
# The directory where the files are found is accessed
os.chdir('/Users/reube/flatiron/Project01/dsc-mod-1-project-v2-1-onl01-dtsc-ft-012120/zippedData/')

In [ ]:
# Adding all relevant files to a list for simplicity
datafiles = ["bom.movie_gross.csv.gz", "tn.movie_budgets.csv.gz", "tmdb.movies.csv.gz", "imdb.title.basics.csv.gz"]

In [ ]:
# An empty dictionary called dictum is created.
# Later this dictionary will include file names as keys
# and file data as values
dictum = {}

In [ ]:
# Pandas is used to read all .csv files
# and add them to the dictionary "dictum"
for x in datafiles:
    dictum[x] = pd.read_csv(x)

### Filename Cleaning

In [ ]:
# Creating a new dictionary "files" with better filenames
files = {}
for x in dictum:
    # Removing all ".csv.gz", "_", and "."
    cleaned = os.path.basename(x).replace('.csv.gz', '').replace('.', '').replace('_', '')
    # Re-reading files after name change
    df = pd.read_csv(x)
    # Adding to "files" dictionary
    files[cleaned] = df

In [ ]:
# Returning to the main project directory
os.chdir('/Users/reube/flatiron/Projects/project_1')

In [ ]:
# Creating a SQL table for each file
# using a function that will iterate through pandas dataframes
# and create SQL tables for each
def CreateSqlTable(df, name, conn):
    # df.to_sql converts pandas datafrae to SQL table
    # if_exists = 'replace' will overwrite any identical table
    df.to_sql(name, conn, if_exists = 'replace')
    # Prints out that a table was created
    print(f"Created table {name}")

In [ ]:
# Creates a file that will contain all SQL tables
conn = sqlite3.connect("moviesdatabase.sqlite")
# Using the function to iterate as described
for name, table in files.items():
    CreateSqlTable(table, name, conn)

In [ ]:
# Showing all relevant tables were created, there should be three
print(conn.execute("select name from sqlite_master where type='table';").fetchall())
len(conn.execute("select name from sqlite_master where type='table';").fetchall())

## Cleaning Data

### Joining SQL Tables

In [ ]:
# Creating connection and cursor object to work with SQL
conn = sqlite3.Connection('moviesdatabase.sqlite')
cur = conn.cursor()

In [ ]:
# Printing out information on each table
# to see how to properly join them
for x in files.items():
        # Prints each table name stored as keys"x[0]"
        # and information about dictionary values "x[1].info"
        print(x[0])
        print(x[1].info())
        print("===============Next Table===============")

In [ ]:
cur.execute('''SELECT tn.movie, tn.release_date, tn.production_budget, tn.domestic_gross,
                tn.worldwide_gross, title.genres FROM tnmoviebudgets AS tn
                JOIN imdbtitlebasics AS title ON tn.movie = title.primary_title
                GROUP BY tn.movie''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]

In [ ]:
# checking for null values
df.head()

In [ ]:
# 61 null values in one field is not significant, so they will be dropped
df = df.dropna()

In [ ]:
# Getting the primary genre from the list of genres
df['Main_Genre'] = df['genres'].apply(lambda x: x.replace(',', ' '))
df['Main_Genre'] = df['Main_Genre'].apply(lambda x: x.split()[0])

In [ ]:
# Editing the budget and gross so they are easier to work with
df['production_budget'] = df['production_budget'].apply(lambda x: str(x)).apply(lambda x: x.replace(',', '').replace('$', ''))
df['production_budget'] = df['production_budget'].apply(lambda x: int(x))
df['worldwide_gross'] = df['worldwide_gross'].apply(lambda x: str(x)).apply(lambda x: x.replace(',', '').replace('$', ''))
df['worldwide_gross'] = df['worldwide_gross'].apply(lambda x: int(x))
df['domestic_gross'] = df['domestic_gross'].apply(lambda x: str(x)).apply(lambda x: x.replace(',', '').replace('$', ''))
df['domestic_gross'] = df['domestic_gross'].apply(lambda x: int(x))

# Questions

## Question 1: Which is the most profitable genre overall?

In [ ]:
# Finding profit by subtracting budget from wordwide gross
df['Profit'] = df['worldwide_gross'].subtract(df['production_budget'], axis = 0)
# Plotting profit by genre
ax = df.groupby(['Main_Genre'])['Profit'].sum().sort_values().plot(kind='barh', figsize=(15,8),
                                                              title = "Most Proftable Genres Overall")
ax.set_xlabel("Profit in Tens of Billions")
ax.set_ylabel("Genre")

In [ ]:
# Action is the most profitable genre overall, however there are more factors to consider.
# This will make a graph of the average profit per movie
bx = df.groupby(['Main_Genre'])['Profit'].mean().sort_values().plot(kind='barh', figsize=(15,8),
                                                              title = "Most Proftable Genres by Average Profit")
bx.set_xlabel("Profit in Hundreds of Millions")
bx.set_ylabel("Genre")

## What is the Best Month to Release Movies

In [ ]:
# This is a funtion that changes the month into a number
def month(x, y):
    z = []
    for x in y:
        if 'Jan' in x:
            z.append(x.replace('Jan', '01'))
        elif 'Feb' in x:
            z.append(x.replace('Feb', '02'))
        elif 'Mar' in x:
            z.append(x.replace('Mar', '03'))
        elif 'Apr' in x:
            z.append(x.replace('Apr', '04'))
        elif 'May' in x:
            z.append(x.replace('May', '05'))
        elif 'Jun' in x:
            z.append(x.replace('Jun', '06'))
        elif 'Jul' in x:
            z.append(x.replace('Jul', '07'))
        elif 'Aug' in x:
            z.append(x.replace('Aug', '08'))
        elif 'Sep' in x:
            z.append(x.replace('Sep', '09'))
        elif 'Oct' in x:
            z.append(x.replace('Oct', '10'))
        elif 'Nov' in x:
            z.append(x.replace('Nov', '11'))
        elif 'Dec' in x:
            z.append(x.replace('Dec', '12'))
    return z

In [ ]:
# This function makes the dates the same length for simplicity
def newday(x, y):
    z = []
    for x in y:
        if ' 1,' in x:
            z.append(x.replace(' 1,', ' 01,'))
            continue
        if ' 2,' in x:
            z.append(x.replace(' 2,', ' 02,'))
            continue
        if ' 3,' in x:
            z.append(x.replace(' 3,', ' 03,'))
            continue
        if ' 4,' in x:
            z.append(x.replace(' 4,', ' 04,'))
            continue
        if ' 5,' in x:
            z.append(x.replace(' 5,', ' 05,'))
            continue
        if ' 6,' in x:
            z.append(x.replace(' 6,', ' 06,'))
            continue
        if ' 7,' in x:
            z.append(x.replace(' 7,', ' 07,'))
            continue
        if ' 8,' in x:
            z.append(x.replace(' 8,', ' 08,'))
            continue
        if ' 9,' in x:
            z.append(x.replace(' 9,', ' 09,'))
            continue
        else:
            z.append(x)
            continue
    return z

In [ ]:
# Turning the date into a usable format
df['Date'] = month(x, df['release_date'])
df['Date'] = newday(x, df['Date'])
df['Year'] = df['Date'].map(lambda x: '{}'.format(x[-4:]))
df['Month'] = df['Date'].map(lambda x: '{}'.format(x[:2]))

In [ ]:
# Using Seaborn to plot a box graph of profits by month
sns.boxplot(x="Month", y="Profit", data=df).set(ylabel='Profit in Billions')

In [ ]:
# This shows a boxplot, with the colored boxes containing 50 percent of the values,
# and the T lines adding 150% of the section of the box range in either direction.
# It may be easier to read if we remove outliers with profits over 1.2 billion dollars
data = df[df.Profit < 1200000000]

In [ ]:
sns.boxplot(x="Month", y="Profit", data=data).set(ylabel='Profit in Billions')

## Do Movie Preferences Change by Decade?

In [ ]:
# This function will sort movies by decade
def decade(x, y):
    z = []
    for x in y:
        if x < 1950:
            z.append(int(1940))
            continue
        if x > 1949 and x < 1960:
            z.append(int(1950))
            continue
        if x > 1959 and x < 1970:
            z.append(int(1960))
            continue
        if x > 1969 and x < 1980:
            z.append(int(1970))
            continue
        if x > 1979 and x < 1990:
            z.append(int(1980))
            continue
        if x > 1989 and x < 2000:
            z.append(int(1990))
            continue
        if x > 1999 and x < 2010:
            z.append(int(2000))
            continue
        else:
            z.append(int(2010))
            continue
    return z

In [ ]:
# Making year values integers to work with function, then running
df['Year'] = df['Year'].map(lambda x: int(x))
df['Decade'] = decade(x, df['Year'])

In [ ]:
# Plotting number of movies by decade and genre
g = sns.swarmplot(x="Main_Genre", y="Decade", data=df)
# Rotating labels so they are legible
g.set_xticklabels(g.get_xticklabels(), rotation=60)